body {
  margin: 0;
  background: #0b1f44;
  font-family: Arial;
  color: white;
  text-align: center;
}

.game {
  max-width: 420px;
  margin: auto;
}

canvas {
  background: #111;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  aspect-ratio: 1;
}

.controls {
  margin-top: 15px;
}

button {
  margin: 5px;
  padding: 15px;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  background: rgba(255,255,255,0.2);
  color: white;
}
